%h1 Listing teams

%table
  %thead
    %tr
      %th Logo
      %th Team Name
      %th Points
      %th Standing
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th

  %tbody
    - @teams.each do |team|
      %tr
        %td
          - if team.logo_path.present?
            = image_tag team.logo_path, height: '30', width: '30', alt: team.name, class: 'team-logo'
        %td.fw-bold.gap-1= team.name
        %td= team.points
        %td.text-center= team.standing
        %td= team.status
        %td= link_to 'Show', team
        %td= link_to 'Edit', edit_team_path(team)
        %td= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Team', new_team_path
