%h1 Listing players

%table
  %thead
    %tr
      %th Team
      %th Name
      %th Country
      %th Nickname
      %th Status
      %th Logo path
      %th Hltv url
      %th Hltv
      %th Hltv photo url
      %th
      %th
      %th

  %tbody
    - @players.each do |player|
      %tr
        %td= player.team
        %td= player.name
        %td= player.country
        %td= player.nickname
        %td= player.status
        %td= player.logo_path
        %td= player.hltv_url
        %td= player.hltv_id
        %td= player.hltv_photo_url
        %td= link_to 'Show', player
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Player', new_player_path
