%h1 Listing players

%table
  %thead
    %tr
      %th Nickname
      %th Photo
      %th Country
      %th Name
      %th Team
      %th Status
      %th HLTV
      %th
      %th
      %th

  %tbody
    - @players.each do |player|
      %tr
        %td= player.nickname
        %td
          - if player.logo_path.present?
            = image_tag player.logo_path, width: '77', height: '80', alt: player.name, class: 'player-logo'
        %td= player.country
        %td= player.name
        %td= player.team.name
        %td= player.status
        %td= link_to "hltv", player.hltv_url
        %td= link_to 'Show', player
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Player', new_player_path
